# .gitattributes
*.json linguist-detectable=false
*.html linguist-detectable=false
*.css  linguist-detectable=false
assets/** linguist-vendored=true
*.png  linguist-detectable=false
*.toc linguist-detectable=false
